body {
background-color: darkred;
}






#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}

#clock{
    text-align: center;
    font-size: 50px;
}